{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3>
    Welcome to CUSCUZ
    <small class="text-body-secondary"></small>
  </h3>
  {% if user.is_authenticated %}
  <p class="lead">You are alredy loged in</p>
  {% else %}
  <p class="lead">Log In</p>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
          <a href="/accounts/password_reset" class="text-decoration-none">
            Forgot Password?
          </a>
        </p>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
      {% endif %}

    </div>
    <div class="col"></div>
  </div>
</div>


{% endblock %}
