{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3>
    Password Reset
    <small class="text-body-secondary"></small>
  </h3>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">

      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Reset Password</button>
      </form>

    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock content %}
