{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3>
    Welcome to CUSCUZ
    <small class="text-body-secondary"></small>
  </h3>
  {% if user.is_authenticated %}
  <p class="lead">You are alredy loged in</p>
  {% else %}
  <p class="lead">Create an account</p>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>

    </div>
    {% endif %}
    <div class="col"></div>
  </div>
</div>

{% endblock %}